* html, body { height: 100%; width:100%; margin:0; padding:0; }
iframe { padding-bottom: 50; height:100%; overflow:hidden; }

html {
	padding:50px 0px 50px 0px;
}
#ifra, iframe {
	position: static;
	overflow: hidden;
}
#ifra ,#search_view,#fav_view,#snpt{
	height: 100%;
}

