<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824688300511-b11625iqfi3cja9o9uandpdk2smp84b3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824688300511-b11625iqfi3cja9o9uandpdk2smp84b3</string>
	<key>API_KEY</key>
	<string>AIzaSyBByWLOUZSMAEpmiwG5NfBFqajAN25jbpY</string>
	<key>GCM_SENDER_ID</key>
	<string>824688300511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>noon.team.mn</string>
	<key>PROJECT_ID</key>
	<string>mawso3a-noon-2f71e</string>
	<key>STORAGE_BUCKET</key>
	<string>mawso3a-noon-2f71e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824688300511:ios:1a6452c2e74b800d85f46a</string>
</dict>
</plist>